/* Bogdan Pasterak - Udacity - Animal Cards */

/* Formating list */

ul {
	list-style: none;
	padding: 0;
}

li > span {
	font-weight: bold;
}

li:hover {
	font-size: 115%;
	font-weight: bold;
	background-color: #ddd;
}

/* Image size */

img {
	width: 300px;
	height: 200px;
}

/* Animated title  */

h3 {
	font-size: 1.5em;
	text-shadow: 5px 2px #eee;
	background-color: #ffe;
	text-align: center;
	animation: rotate 10s infinite;
}

/* Italzation fact */

.fact {
	font-style: italic;
}

/* Classes for divs */

.frame {
	border: 1px solid lightgrey;
	border-radius: 10px;
	box-shadow: 3px 3px 1px 0px rgba(220,220,220,0.5);
}

.outside {
	width: 302px;
	padding: 0 10px 10px 10px;
	float: left;
	margin: 10px;
	background-image: url("bg.png");
}

.inside {
	padding: 0 10px;
	margin: 10px 0 0 0;
	background-color: #ffe;
}

.read:hover {
	font-size: 115%;
	font-weight: bold;
	background-color: #ddd;
}

/* Title animation */

@keyframes rotate {
  from {
		-ms-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
  to {
		-ms-transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}
